@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 font-medium rounded-md shadow-sm bg-indigo-300 text-indigo-800
  }
}

.custom-padding {
  padding-top: 125px;
  padding-right: 250px;
  padding-bottom: 125px;
  padding-left: 250px;
}
